html {
    height:100%;
    width: 100%;
  }
  
  footer{
    /* margin-top: -180px; */
    height: 180px;
    margin-right: 50px;
  }
  body{
  background-color:  #fecafd;
  text-align: center;
    
  }
  #title{
     border: 2px solid rgb(30, 17, 30);
  }
  h1{
   font-family: Arial, Helvetica, sans-serif;
  }
  .about{
    background-color: #fecafd;
  }
  .div{
    text-align: center;
  }